body{
  margin-left: 50px;
  background-image: url(../images/2.jpg);
  color: white;
  font-size: 30px;
}
.mainContent{
margin-left: 30%;
}
#p1{
  text-align: center;
  font-weight: bold;
}
#btn{
  text-align: center;
  margin-top: 10px;
  border-radius: 30px;
  background: green;
  border-color: green;
  margin-left: 200px;
}
